.info {
    position: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba (255, 255, 255, 0.7);
    front-size: 16px;
    text-align: center;
    pointer-events: none;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}